.tableWrap {
    overflow: auto;
    height: calc(100% - 80px);
  }

  .content {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    height: calc(100% - 56px);
    overflow: auto;
  }